<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>hacky races</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/docs.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hackyRacesApp" layout="horizontal" >
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <md-sidenav layout="vertical" class="md-sidenav-left md-whiteframe-z2 ng-isolate-scope" component-id="mainNav" tabindex="-1" is-locked-open="$media('md')">
    <md-toolbar class="md-theme-light md-medium-tall">
    <h1 class="md-toolbar-tools">
    <a href="#/" tabindex="0">hacky races</a>
    </h1>
    </md-toolbar>
    </md-sidenav>
    <div layout="vertical" layout-fill="" tabindex="-1" role="main">
      <md-toolbar class="md-theme-dark md-medium-tall app-toolbar" ng-controller="NavController">
      <div class="md-toolbar-tools" ng-click="toggleMenu()" tabindex="0">
        <button class="menu-icon" hide-md="" aria-label="Toggle Menu">
        <md-icon icon="img/icons/ic_menu_24px.svg"><object class="md-icon" data="img/icons/ic_menu_24px.svg"></object></md-icon>
        </button>
        <h2 flex="" class="ng-binding">hacky races</h2>
        <md-content layout="horizontal" layout-align="right">
        <md-button class="md-button-raised" ng-hide="isAuth" ng-click="logout()">Logout</md-button>
        </md-content>
      </div>
      </md-toolbar>
      <md-content ng-view="" scroll-y="" flex="" class="md-content-padding">
      </md-content>
    </div>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/angularfire/angularfire.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/angularfire/config.js"></script>
    <script src="scripts/services/firebase.js"></script>
    <script src="scripts/services/login.js"></script>
    <script src="scripts/angularfire/simpleLoginTools.js"></script>
    <script src="scripts/angularfire/routesecurity.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/NavController.js"></script>
    <script src="scripts/controllers/vehicle.js"></script>
    <script src="scripts/factories/VehicleFactory.js"></script>
    <script src="scripts/factories/UserFactory.js"></script>
    <!-- endbuild -->
  </body>
</html>
