<div layout="vertical" class="ng-scope'" ng-cloak >
  <md-content flex="" class="md-content-padding ng-scope" layout="vertical">
    <p>
<div ng-cloak class="row">
    <div class="col-md-12">

        <!-- examples for fun and profit -->
        <!--<div ng-show-auth="login">{{auth.user|json}}</div>-->
        <!--<div ng-show-auth="error,logout">Logged out</div>-->
        <!--<div ng-show-auth="error">{{auth.error}}</div>-->

  <md-toolbar class="md-theme-dark">
    <div class="md-toolbar-tools">
      <span class="md-flex">Social Login</span>
    </div>
  </md-toolbar>     
  <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
    <p>
        <md-button class="md-button-raised md-button-colored" ng-click="login('facebook')">Facebook</md-button>
        <md-button class="md-button-raised md-button-colored" ng-click="login('twitter')">Twitter</md-button>
        <md-button class="md-button-raised md-button-colored" ng-click="login('google')">Google</md-button>
    </p>
  </md-whiteframe>

        <br />
        <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

    </div>
</div>    </p>
  </md-content>
</div>
<!-- wait for auth to resolve (avoid flashing login page before redirect -->
