<div layout="vertical" class="ng-scope'">
  <md-content flex="" class="md-content-padding ng-scope" layout="vertical">
  <div ng-repeat="quiz in quizzes">
    <md-subheader>Question {{quiz.number}}</md-subheader>
    <p>{{quiz.question}}</p>
    <md-radio-group ng-model="quiz.answer">
    <md-radio-button ng-repeat="answer in quiz.answers" value="{{answer}}" aria-label="{{ answer }}">{{answer}}</md-radio-button>
    </md-radio-group>
  </div>
  <p><md-button class="md-button-raised md-button-colored" ng-disabled="pendingAnswers()" ng-click="submit()">Submit these answers</md-button></p>
  </md-content>
</div>