<div layout="vertical" class="ng-scope'">
  <md-content flex="" class="md-content-padding ng-scope" layout="vertical">
  	 <md-content>

   <md-card>
      <img src="/img/resource.png" class="md-card-image" alt="resource">
      <h2 class="resource-title">{{resource.title}}</h2>
        <ul>
          <li class="stat1">{{resource.stat1}}</li>
          <li class="stat2">{{resource.stat2}}</li>
          <li class="stat3">{{resource.stat3}}</li>
        </ul>
     <p class="resource-description">
        {{resource.description}}
      </p>

      <p><md-button class="md-button-raised md-button-colored">Quiz Level 1 - Easy</md-button></p>
      <p><md-button class="md-button-raised md-button-colored">Quiz Level 2 - Medium</md-button></p>
      <p><md-button class="md-button-raised md-button-colored">Quiz Level 3 - Hard (pvp)</md-button></p>


    </md-content>
</div>


