<div layout="vertical" class="ng-scope'">
  <md-content flex="" class="md-content-padding ng-scope" layout="vertical">
  	 <md-content>

   <md-card>
      <img data-ng-src="img/resources/{{resource.uuid}}.jpg"/>
      <h2 class="resource-title">{{resource.title}}</h2>
     <p class="resource-description">
        {{resource.description}}
      </p>
      </md-card>

      <p><md-button ng-click="submit('quiz-easy/')" class="md-button-raised md-button-colored">Quiz Level 1 - Easy</md-button></p>
      <p><md-button ng-click="submit('quiz-medium/')" class="md-button-raised md-button-colored">Quiz Level 2 - Medium</md-button></p>
      <p><md-button ng-click="submit('quiz-hard/')" class="md-button-raised md-button-colored">Quiz Level 3 - Hard (pvp)</md-button></p>

    </md-content>
</div>


