<div layout="vertical" class="ng-scope'">
  <md-content flex="" class="md-content-padding ng-scope" layout="vertical">
  	 <md-content>

    <md-card>
      <img src="/img/vehicle.png" class="md-card-image" alt="Vehicle">
      <h2>My Car - <span class="vehicle-title">Level {{level}} - {{vechicle}}</span></h2>
      	<ul>
      		<li class="stat1">{{vehicle.stat1}}</li>
      		<li class="stat2">{{vehicle.stat2}}</li>
      		<li class="stat3">{{vehicle.stat3}}</li>
      	</ul>
   	 <p class="vehicle-description">
        {{vehicle.description}}
      </p>
    </md-card>  

<section>
    <md-subheader class="md-subheader-colored">{{vehiclePart.title}}</md-subheader>
      <md-list layout="vertical">
        
        <md-item>
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{resource.thumbnail}}" class="thumbnail" alt="{{resource.title}}">
            </div>
            <div class="md-tile-content">
              <h3>{{resource.title}}</h3>
              <h4>{{resource.progress}}</h4>
              <p>
                {{resource.description}}
              </p>
            </div>
          </md-item-content>
        </md-item>
    </md-list>
</section>

    </md-content>
</div>


