<div layout="vertical" class="ng-scope'">
  <md-content flex="" class="md-content-padding ng-scope" layout="vertical">
  	 <md-content>
      <md-card>
        <h2>My Car</h2>
        <img src="/img/vehicle.png" class="md-card-image" alt="Vehicle">
        <section>
          <md-button class="md-button-raised md-button-colored" tabindex="-1"><button class="md-button-inner">Add Resource</button><div class="md-ripple-container"></div></md-button>
        </section>
        <md-subheading>Stage {{getStage()}} - {{getVehicleName()}}</md-subheading>
        <section>
        <md-list layout="vertical">
          <md-item ng-repeat="part in vehicle.parts">
            <md-item-content>
              <div class="md-tile-left">
                  <img ng-src="{{part.thumbnail}}" class="thumbnail" alt="{{part.title}}">
              </div>
              <div class="md-tile-content">
                <h3>{{part.name}}</h3>
                <md-progress-linear mode="determinate" ng-value="part.progress" ></md-progress-linear>
                <p>
                  {{part.description}}
                </p>
              </div>
            </md-item-content>
          </md-item>
      </md-list>
      </section>
      </md-card>
    </md-content>
</div>


