<div layout="vertical" class="ng-scope'">
  <md-content flex="" class="md-content-padding ng-scope" layout="vertical">
  	 <md-content>
      <md-card>
        <h2>My Car</h2>
        <img src="/img/vehicle.png" class="md-card-image" alt="Vehicle">
        <section>
          <md-button class="md-button-raised md-button-colored" ng-click="openDialog($event)" tabindex="-1"><button class="md-button-inner">Add Resource</button><div class="md-ripple-container"></div></md-button>
        </section>
        <md-subheading>Stage {{getStage()}} - {{getVehicleName()}}</md-subheading>
        <section>
        <md-list layout="vertical">
          <md-item ng-repeat="part in vehicle.parts">
            <md-item-content layout="vertical">
            <md-item-content layout="horizontal">
              <div class="md-tile-left">
                  <img ng-src="{{part.thumbnail}}" class="thumbnail" alt="{{part.name}}">
              </div>
              <div class="md-tile-content" layout="vertical">
                <h2>{{part.name}}</h2>
                <md-progress-linear mode="determinate" ng-value="part.level" ></md-progress-linear>
                <md-button class="md-button-raised"><button class="md-button-inner" ng-click="toggle(part)">Tap for components</button></md-button>
              </div>
            </md-item-content>
            <div class="md-tile-content" layout="vertical" ng-show="part.active">
              <md-item ng-repeat="resource in part.resources">
                <md-item-content layout="horizontal">
                  <div class="md-tile-left">
                      <img ng-src="{{resource.thumbnail}}" class="thumbnail" alt="{{resource.name}}">
                  </div>
                  <div class="md-tile-content" layout="vertical">
                    <md-subheading><h3>{{resource.name}} - lvl {{resource.level}}</h3></md-subheading>
                    status: {{resource.rating>0?'found':'not found'}}
                    foo: {{resource.value.title}}
                  </div>
                </md-item-content>
              </md-item>
            </div>
            </md-item-content>
          </md-item>
      </md-list>
      </section>
      </md-card>
    </md-content>
</div>


